@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
    background-color: #f9f2ed;
}

* {
    font-family: "Inter", system-ui !important;
    box-sizing: border-box;
    user-select: none;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    @media (max-width: 820px) {
        grid-template-columns: 100%;
        grid-row-gap: 30px;
        margin: 0px auto;
        width: 100%;
    }
    @media (max-width: 600px) {
        padding: 10px;
        grid-row-gap: 15px;
    }
}

.arrow {
    position: relative;
    display: inline-flex;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
        background-color: #16b67f;
        color: #fff;
    }

    &:last-of-type {
        display: inline-flex;
        align-items: center;
        flex: 0 0 50px;
        border-right: 0;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.list {
    position: absolute;
    top: 105%;
    right: 0;
    background-color: #ebeaea;
    padding: 5px 0px 5px 5px;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    &::-webkit-scrollbar {
        width: 0.4em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(107, 107, 107);
        border: 1px solid white;
        border-radius: 10px;
        
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer !important;
    }
}

.list-item {
    transition: all 0.3s ease 0s;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    &:hover {
        background-color: rgb(177, 177, 177);
    }
}

.block {
    input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 3rem;
        font-weight: bold;
        padding: 20px 20px;
        letter-spacing: 1.3px;
        outline: none;
        margin-top: 20px;
        border-radius: 5px;
        width: 100%;
        @media (max-width: 600px){
            padding: 5px 10px;        
            font-size: 1.5rem;
            margin-top: 8px;
        }
    }
}

.icon {
    position: relative;
    width: 56px;
    height: 36px;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    z-index: 1;
    @media (max-width: 600px){
        width: 26px;
        height: 26px;
        padding: 5px 5px;
    }
}
.icon._active {
    transform: rotate(180deg);
}

.currencies {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    li {
        display: inline-flex;
        padding: 10px 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer;
        justify-content: center;
        flex: 1;
        @media (max-width: 600px){
            padding: 5px 5px;
            font-size: 14px;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &.active {
            background-color: #16b67f;
            color: #fff;
        }

        // &:last-of-type {
        //     display: inline-flex;
        //     align-items: center;
        //     flex: 0 0 50px;
        //     border-right: 0;

        //     svg {
        //         width: 16px;
        //         height: 16px;
        //     }
        // }
    }
}
